.navbar {
    background-color: #094067;
    position: fixed;
    width: 100%;
    top: 0; /* Agar navbar di bagian atas halaman */
    z-index: 1000; /* Agar navbar ada di atas elemen lainnya */
}

.container-fluid {
    display: flex;
    justify-content: space-between;
}

.btn-group h3 {
    color: white;
    margin-top: 5px;
}

.beranda {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d8eefe;
    padding-top: 80px;
    height: 635px;
}

.isi h3 {
    color: #094067;
}

.isi h1 {
    color: #094067;
}

.desc h4 {
    color: #094067;
}

.btn-menu .btn {
    width: 200px;
}

.btn-menu img {
    width: 20px;
}
